<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
</style>


<!-- h1 -> header 1  -->
<h1> Tienda de licores </h1>
<% var nombreNegocio = 'Licoreria Brix'; %>
<!-- h2 -> header 2  -->
<h2>  <%= nombreNegocio %>  </h2>

<% if(booleano) { %>
    <!-- p -> parrafo  -->
    <p>Usted creo un nuevo licor</p>
<% } %>

<!-- ul -> unordered list  -->
<!-- ol -> ordered list  -->

<!-- a -> anchor -->

<a href="/crear-licor">
    <button>Crear licor</button>
</a>

<table>
    <!-- tr -> table row -->
    <tr>
        <!-- th -> table header -->
        <th>Identicador</th>
        <th>Nombre</th>
        <th>Descripcion</th>
        <th>TipoLicor</th>



        <th>Acciones</th>
    </tr>
    <!-- tr -> table row -->
    <% arreglo.forEach( (licor)=> { %>
        <tr>
            <!-- td -> table detail -->
            <td><%= licor.id %></td>
            <td><%= licor.nombre %></td>
            <td><%= licor.descripcion %></td>
            <td><%= licor.tipoLicor.nombre %></td>

            <td>
                <form action="/eliminar/<%= licor.id %>" method="POST">
                    <!--<button type="button"> clickea sin problemas</button>
                    <button>Yo tambien envio informacion</button>
                    -->
                    <button type="submit"> Eliminar</button>
                </form>
            </td>
        </tr>
    <% }) %>
</table>








